<% if (typeof title !=='undefined' ) { %>
<%- include('header', { title }); -%>
<% } else { %>
<%- include('header', { title: "Poll Votes" }); -%>
<% } %>

<header>
  <%- include('navbar'); -%>
</header>

<section class="container">
  <h1 class="display-1 text-center">View Polls</h1>
  <div class="row">

    <div class="col-md-6 offset-md-3 shadow p-4">
      <h3>Title: <%= poll.title %>
      </h3>
      <p>Description: <%= poll.description %>
      </p>

      <form action="/vote/<%= poll._id %>" method="POST">
        <% for (const option of poll.options) { %>
        <div class="mb-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="optionId" id="<%= option._id %>" value="<%= option._id %>" />
            <label class="form-check-label" for="<%= option._id %>">
              <%= option.name %>
            </label>
          </div>
          <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 15px">
            <div class="progress-bar" style="width: <%= parseInt((parseInt(option.voteCount) / parseInt(poll.totalVote)) * 100) || 0 %>%"><%= parseInt((parseInt(option.voteCount) / parseInt(poll.totalVote)) * 100) || 0 %>%</div>
          </div>
        </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Vote Submit</button>
      </form>
    </div>
  </div>
</section>

<%- include('footer'); -%>