<% if (typeof title !=='undefined' || title=='' ) { %>
<%- include('header', { title }); -%>
<% } else { %>
<%- include('header',{title:"Poll Votes"}); -%>
<% } %>

<header>
  <%- include('navbar'); -%>
  <h1 class="display-1 text-center">View Polls</h1>
</header>

<section class="container">
  <div class="row">

    <% for (const poll of polls) { %>
    <div class="col-md-6 offset-md-3 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= poll.title %>
          </h5>
          <p class="card-text">
            <%= poll.description %>
          </p>
          <a href="/view-polls/<%= poll._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</section>

<%- include('footer'); -%>